.heading {
    padding-left: 20px;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 0;
    color: #0229BF;
}
.label2 {
    padding-left: 20px;
}
.containercon {
        display: none;
        width: 98%;
        margin: 15px;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-bottom-color: #1A2F75;
        border: 2px;
        border-radius: 15px;
        align-items: center;

}
#content-en {
    display: block;
}

.h21 {
    margin-left: 15px;
    font-size: 32px;
    font-weight: bolder;
    color: #0229BF;
    margin-bottom: 2px;
}
.language {
   margin: 15px;
}