body {
    font-family: Poppins, sans-serif;
    color: #3054DC;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
.scoreimg {
    width: 45%;
    margin-left: 25px ;
    margin-top: 5px;
    margin-bottom: 25px;
}
.containerscore {
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-color: #1A2F75;
    border: 2px;
    border-radius: 15px;
    align-items: center;
}
.leaderboard {
    font-size: 45px;
    margin-left: 25px;
}