body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #f0f0f0; /* Optional: To better see the rounded corners */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
  max-width: 1200px; /* Adjust the width as needed */
  margin: 20px auto; /* Center the navbar with auto margins */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 18px;
  color: #233B8B;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}

.navbar-menu a:hover {
  text-underline: #3054DC;
}

.navbar-button .btn-login {
  background-color: #3054DC;
  color: #FFFFFF;
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  align-content: center;
  transition: background-color 0.3s;
}

.navbar-button .btn-login:hover {
  background-color: #1A2F75;
}
.profile-img {
  width: 45px;
}
.li {
  padding-top: 15px;
  padding-right: 20px;
  font-weight: bolder;
  font-family: Poppins, serif;
}